html, body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight:550;
	background-color: #3F6D91;
	color: #C47111;
	}
a {
	text-decoration:none;
	color:#C0C0C0;
	font-weight:550;
	}
a:hover {
	text-decoration:underline;
	}
ul li {
	list-style-type: none;
	display:inline;
	}
.title {
  font-size:32px;
  padding: 10px;
}
.about {
	font-size:16px;
	padding-top: 10px;
}
.social {
	margin: 10px 0;
	line-height:10px;
}